/* .contact{
    font-size: 10px;
} */
.divide-contact{
    position: absolute;
    top: 100px;
    left: 350px;
    font-size: 20px;
}
.contactimage{
    transform: rotate(270deg);
    width: 460px;
    position: absolute;
    top: 310px;
}
.span{
    color: #ff0000;
}